<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
  background-color: teal;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: seagreen;
}
    
div {
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  padding: 200px;
}
</style>
</head>
<body>

<!-- <h2>Link Button</h2> -->

<!-- <p>A link styled as a button:</p> -->
<a href="/linear" target="_blank">Linear Probe</a>
<a href="/create" target="_blank">Chaining</a>
<a href="/bad" target="_blank">Bad Hash</a>
<a href="/create" target="_blank">Good Hash</a>

</body>
</html>